<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {{#each products as |product|}}
        <div class="col">
            <div class="card h-100 shadow-sm"> <img src="{{product.filename}}" class="card-img-top " alt="...">
                <div class="label-top shadow-sm">${{ product.price }}/sqf</div>
                <div class="card-body">
                    <h4 class="card-title text-center">{{ product.name }}</h4>
                    <h6 class="text-center">{{ product.description }}</h6>
                    <div class="text-center my-4"> <a href="/project" class="btn btn-warning">Start Project</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>